In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LinearRegression
from sklearn.metrics import accuracy_score

In [2]:
df = pd.read_csv("processed_data.csv")
df.head()

,0,1,2,3,4,5,6,7,8,9,...,8029,8030,8031,8032,8033,8034,8035,8036,8037,y
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [5]:
y = df["y"]
X = df.drop(columns=["y"]).values

In [7]:
def fit_test(X, y, model):
    X_train, X_test, y_train, y_test = train_test_split(X, y , test_size=0.2, random_state=365)
    model.fit(X_train, y_train)
    print("Score: ", cltf.score(X_train, y_train))
    y_pred = cltf.predict(X_test)
    print("Accuracy:", accuracy_score(y_test, y_pred))

In [9]:
cltf = RandomForestClassifier(n_jobs=-1)
LR = LinearRegression()

In [11]:
print("CLTF RESULT")
fit_test(X,y, cltf)

CLTF RESULT
Score:  1.0
Accuracy: 0.9695067264573991

In [12]:
print("LR RESULT")
fit_test(X,y, cltf)

LR RESULT
Score:  1.0
Accuracy: 0.9730941704035875