## packages import

In [53]:
import nltk

nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\USER\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [55]:
import string
import pandas as pd
import numpy as np
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer
from sklearn.feature_extraction.text import CountVectorizer

## Functions needed

In [58]:
def customTokenNicer(text):
    stopword_set = set(stopwords.words("english"))
    stemmer = PorterStemmer()
    # Lower case the text
    text = text.lower()
    # remove punctuations
    text = text.translate(str.maketrans("", "", string.punctuation)).split()
    # Lemmatize the tokens excluding stop words
    text = [stemmer.stem(word) for word in text if word not in stopword_set]
     # rejoin the text
    text = " ".join(text)
    # return 
    return text
    
vectorizer = CountVectorizer()

## READ AND PROCESS DATA

In [61]:
raw_data = pd.read_csv("spam.csv", encoding="ISO-8859-1")
df = raw_data.copy()

In [63]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   v1          5572 non-null   object
 1   v2          5572 non-null   object
 2   Unnamed: 2  50 non-null     object
 3   Unnamed: 3  12 non-null     object
 4   Unnamed: 4  6 non-null      object
dtypes: object(5)
memory usage: 217.8+ KB

In [65]:
df = df[["v1", "v2"]]
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   v1      5572 non-null   object
 1   v2      5572 non-null   object
dtypes: object(2)
memory usage: 87.2+ KB

In [69]:
df.head()

In [15]:
df["tokennized_text"] = df["v2"].apply(customTokenNicer)
df["y"] = df["v1"].map({"ham":0, "spam":1})

In [25]:
df.head()

                                     tokennized_text  y
0  go jurong point crazi avail bugi n great world...  0
1                              ok lar joke wif u oni  0
2  free entri 2 wkli comp win fa cup final tkt 21...  1
3                u dun say earli hor u c alreadi say  0
4          nah dont think goe usf live around though  0

In [19]:
df =df.drop("v1", axis=1)
df =df.drop("v2", axis=1)

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   tokennized_text  5572 non-null   object
 1   y                5572 non-null   int64
dtypes: int64(1), object(1)
memory usage: 87.2+ KB

In [23]:
df.head()

                                     tokennized_text  y
0  go jurong point crazi avail bugi n great world...  0
1                              ok lar joke wif u oni  0
2  free entri 2 wkli comp win fa cup final tkt 21...  1
3                u dun say earli hor u c alreadi say  0
4          nah dont think goe usf live around though  0

In [29]:
X =vectorizer.fit_transform(df["tokennized_text"]).toarray()

X.shape

(5572, 8038)

In [31]:
X_df = pd.DataFrame(X)
X_df.head()

,0,1,2,3,4,5,6,7,8,9,...,8028,8029,8030,8031,8032,8033,8034,8035,8036,8037
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [33]:

X_df["y"] = df["y"]
X_df.to_csv('processed_data.csv', index=False)
## save for tensowflow (npz)
np.savez("processed_data.npz", x=X, y=df["y"])